.categories{
    background-color: white;
    padding: 1rem 2rem;
    position: static;
    margin-top: 10px;
}

.category_section{
    display: flex;
    overflow: hidden;
}

.category_button{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: none;
    /* large # will give you pill shape */
    border-radius: .5rem;
    background-color: #e7e7e7;
    padding: 0.4rem .7rem;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 200ms;
}

.category_button:hover{
    background-color: #eeeeee;
}

.category_button:first-child{
    background-color: #606060;
    color: white;
    border-color: #eee;
}

.category_button:last-child{
    margin-right: 0;
}