.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-right: 30px;
    overflow: scroll;
    height: 870px;
    top: 60px;
    bottom: 0;
    position: sticky;
}

.item{
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: .5rem;
    margin-left: 5px;
    border-radius: 1rem;
}

.item:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

#icon{
    margin-right: 20px;
}

.section{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    margin-right: 10px;
}

.section:first-child{
    padding-top: 0;
}

h4{
    margin: 10px 0 10px 15px;
}

.logo{
    margin-right: .75rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #aaa;
}