html {
    overflow: hidden;
}
/* accesses the body tag in public/index.html */

.body{
    display: flex;
}

.right{
    min-width: 50%;
    flex: 1;
}

a{
    text-decoration: none;
    color: black;
}